*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
auto
*~
_region_.*
auxfiles
unused
*.bcf
*.blg
*.fyi
*.idx
*.ilg
*.ind
*.nav
*.pre
*.run.xml
*.snm
*.vrb
_region_*
*eps-converted-to.pdf
exercices.pdfsync
exercices.ps
exercices.dvi
exercices.pdf
exercices.prv/
Exercices-geol*
Exercices-geog*
Exercices-biol*
Exercices-irbi*
formulaire-edo.pdf
formulaire-edo.rel
exercices-1.svg
exercices-2.svg
exercices-3.svg
exercices.4ct
exercices.4tc
exercices.css
exercices.html
exercices.idv
exercices.lg
exercices.tmp
exercices.xml
exercices.xref
exercices0x.png
exercices10x.png
exercices11x.png
exercices12x.png
exercices13x.png
exercices14x.png
exercices15x.png
exercices16x.png
exercices17x.png
exercices18x.png
exercices19x.png
exercices1x.png
exercices2.html
exercices20x.png
exercices21x.png
exercices22x.png
exercices23x.png
exercices24x.png
exercices25x.png
exercices26x.png
exercices27x.png
exercices28x.png
exercices29x.png
exercices2x.png
exercices30x.png
exercices31x.png
exercices3x.png
exercices4x.png
exercices5x.png
exercices6x.png
exercices7x.png
exercices8x.png
exercices9x.png
quiz-test-richard-Logique-20150724-1646.xml
test.4ct
test.4tc
test.css
test.dvi
test.html
test.idv
test.lg
test.pdfsync
test.tex
test.tmp
test.xml
test.xref
test0x.png
test10x.png
test11x.png
test12x.png
test13x.png
test14x.png
test15x.png
test16x.png
test17x.png
test18x.png
test19x.png
test1x.png
test20x.png
test21x.png
test22x.png
test2x.png
test3x.png
test4x.png
test5x.png
test6x.png
test7x.png
test8x.png
test9x.png
/testch1.html
